 apu@apu4-laptop  wordy  set
'!'=34285
'#'=0
'$'=34273
'*'=(  )
-=569JNRXZghikms
0=/usr/bin/zsh
'?'=0
@=(  )
ARGC=0
AZURE_DEVOPS_PAT_TOKEN=vfel5flpxenewqbh5pfvnxg5u2bybjmhdwjyxd2zck3rxzphvmpa
BG
CDPATH=''
COLORTERM=truecolor
COLUMNS=118
CPUTYPE=x86_64
CURRENT_BG=NONE
CURRENT_FG=black
DBUS_SESSION_BUS_ADDRESS='unix:path=/run/user/1000/bus'
DEFAULTS_PATH=/usr/share/gconf/ubuntu.default.path
DESKTOP_SESSION=ubuntu
DISPLAY=:1
EGID=1000
EMACS_VTERM_PATH=/home/apu/.emacs.d/.local/straight/build-27.1/vterm/
EPOCHREALTIME
EPOCHSECONDS
EUID=1000
FG
FIGNORE=''
FPATH=/home/apu/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting:/home/apu/.oh-my-zsh/custom/plugins/zsh-autosuggesti
ons:/home/apu/.oh-my-zsh/plugins/git:/home/apu/.oh-my-zsh/plugins/docker:/home/apu/.oh-my-zsh/functions:/home/apu/.oh-
my-zsh/completions:/home/apu/.oh-my-zsh/cache/completions:/usr/local/share/zsh/site-functions:/usr/share/zsh/vendor-fu
nctions:/usr/share/zsh/vendor-completions:/usr/share/zsh/functions/Calendar:/usr/share/zsh/functions/Chpwd:/usr/share/
zsh/functions/Completion:/usr/share/zsh/functions/Completion/AIX:/usr/share/zsh/functions/Completion/BSD:/usr/share/zs
h/functions/Completion/Base:/usr/share/zsh/functions/Completion/Cygwin:/usr/share/zsh/functions/Completion/Darwin:/usr
/share/zsh/functions/Completion/Debian:/usr/share/zsh/functions/Completion/Linux:/usr/share/zsh/functions/Completion/M
andriva:/usr/share/zsh/functions/Completion/Redhat:/usr/share/zsh/functions/Completion/Solaris:/usr/share/zsh/function
s/Completion/Unix:/usr/share/zsh/functions/Completion/X:/usr/share/zsh/functions/Completion/Zsh:/usr/share/zsh/functio
ns/Completion/openSUSE:/usr/share/zsh/functions/Exceptions:/usr/share/zsh/functions/MIME:/usr/share/zsh/functions/Math
:/usr/share/zsh/functions/Misc:/usr/share/zsh/functions/Newuser:/usr/share/zsh/functions/Prompts:/usr/share/zsh/functi
ons/TCP:/usr/share/zsh/functions/VCS_Info:/usr/share/zsh/functions/VCS_Info/Backends:/usr/share/zsh/functions/Zftp:/us
r/share/zsh/functions/Zle:/home/apu/.oh-my-zsh/custom/plugins/zsh-completions/src
FUNCNEST=500
FX
GDMSESSION=ubuntu
GID=1000
GIO_LAUNCHED_DESKTOP_FILE=/usr/share/applications/emacs.desktop
GIO_LAUNCHED_DESKTOP_FILE_PID=30139
GITHUB_TOKEN=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
GJS_DEBUG_OUTPUT=stderr
GJS_DEBUG_TOPICS='JS ERROR;JS LOG'
GNOME_DESKTOP_SESSION_ID=this-is-deprecated
GNOME_SHELL_SESSION_MODE=ubuntu
GNOME_TERMINAL_SCREEN=/org/gnome/Terminal/screen/0ef68350_22c3_4f73_974f_87e1dfa35d15
GNOME_TERMINAL_SERVICE=:1.129
GPG_AGENT_INFO=/run/user/1000/gnupg/S.gpg-agent:0:1
GTK_MODULES=gail:atk-bridge
HISTCHARS='!^#'
HISTCMD=570
HISTFILE=/home/apu/.zsh_history
HISTSIZE=50000
HOME=/home/apu
HOST=apu4-laptop
IFS=$' \t\n\C-@'
IM_CONFIG_PHASE=1
INSIDE_EMACS=vterm
INVOCATION_ID=235f5d452fb74d2ba62a03b767c2a9b7
JOURNAL_STREAM=8:39490
KEYBOARD_HACK=''
KEYTIMEOUT=40
LANG=en_US.UTF-8
LC_ADDRESS=en_US.UTF-8
LC_IDENTIFICATION=en_US.UTF-8
LC_MEASUREMENT=en_US.UTF-8
LC_MONETARY=en_US.UTF-8
LC_NAME=en_US.UTF-8
LC_NUMERIC=en_US.UTF-8
LC_PAPER=en_US.UTF-8
LC_TELEPHONE=en_US.UTF-8
LC_TIME=en_US.UTF-8
LESS=-R
LINENO=55
LINES=47
LISTMAX=100
LOGCHECK=60
LOGNAME=apu
LSCOLORS=Gxfxcxdxbxegedabagacad
LS_COLORS='rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:
sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lh
a=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=01;31:*.zip=01;31:*.z=01;31:*.d
z=01;31:*.gz=01;31:*.lrz=01;31:*.lz=01;31:*.lzo=01;31:*.xz=01;31:*.zst=01;31:*.tzst=01;31:*.bz2=01;31:*.bz=01;31:*.tbz
=01;31:*.tbz2=01;31:*.tz=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.war=01;31:*.ear=01;31:*.sar=01;31:*.rar=01;31:*.a
lz=01;31:*.ace=01;31:*.zoo=01;31:*.cpio=01;31:*.7z=01;31:*.rz=01;31:*.cab=01;31:*.wim=01;31:*.swm=01;31:*.dwm=01;31:*.
esd=01;31:*.jpg=01;35:*.jpeg=01;35:*.mjpg=01;35:*.mjpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01
;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.svg=01;35:*.svgz=01;35:*.mng=01;35:*.pc
x=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.m2v=01;35:*.mkv=01;35:*.webm=01;35:*.webp=01;35:*.ogm=01;35:*.mp4=01;35
:*.m4v=01;35:*.mp4v=01;35:*.vob=01;35:*.qt=01;35:*.nuv=01;35:*.wmv=01;35:*.asf=01;35:*.rm=01;35:*.rmvb=01;35:*.flc=01;
35:*.avi=01;35:*.fli=01;35:*.flv=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.yuv=01;35:*.cgm=01;35:*.emf=01;
35:*.ogv=01;35:*.ogx=01;35:*.aac=00;36:*.au=00;36:*.flac=00;36:*.m4a=00;36:*.mid=00;36:*.midi=00;36:*.mka=00;36:*.mp3=
00;36:*.mpc=00;36:*.ogg=00;36:*.ra=00;36:*.wav=00;36:*.oga=00;36:*.opus=00;36:*.spx=00;36:*.xspf=00;36:'
MACHTYPE=x86_64
MAILCHECK=60
MAILPATH=''
MANAGERPID=2977
MANDATORY_PATH=/usr/share/gconf/ubuntu.mandatory.path
MANPATH=''
MENUSELECT=0
MODULE_PATH=/usr/lib/x86_64-linux-gnu/zsh/5.8.1
NULLCMD=cat
NVM_BIN=/home/apu/.nvm/versions/node/v16.14.2/bin
NVM_CD_FLAGS=-q
NVM_DIR=/home/apu/.nvm
NVM_INC=/home/apu/.nvm/versions/node/v16.14.2/include/node
OLDPWD=/home/apu/Documents/wordy
OPTARG=args
OPTIND=1
OSTYPE=linux-gnu
PAGER=less
PAPERSIZE=letter
PATH=/home/apu/.nvm/versions/node/v16.14.2/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games
:/usr/local/games:/snap/bin:/snap/bin:/home/apu/.dotnet/tools:/usr/local/go/bin:/home/apu/go/bin/:/usr/local/go/bin:/h
ome/apu/go/bin/
PPID=30139
PROMPT='%{%f%b%k%}$(build_prompt) '
PROMPT2='%_> '
PROMPT3='?# '
PROMPT4='+%N:%i> '
PROOT=/home/apu/Documents/wordy/
PS1='%{%f%b%k%}$(build_prompt) '
PS2='%_> '
PS3='?# '
PS4='+%N:%i> '
PSVAR=''
PWD=/home/apu/Documents/wordy
QT_ACCESSIBILITY=1
QT_IM_MODULE=ibus
RANDOM=31167
READNULLCMD=less
SAVEHIST=10000
SCREEN_NO=''
SECONDS=8745
SEGMENT_SEPARATOR=
SESSION_MANAGER=local/apu4-laptop:@/tmp/.ICE-unix/3569,unix/apu4-laptop:/tmp/.ICE-unix/3569
SHELL=/usr/bin/zsh
SHLVL=1
SHORT_HOST=apu4-laptop
SPROMPT='zsh: correct '\''%R'\'' to '\''%r'\'' [nyae]? '
SSH_AGENT_LAUNCHER=gnome-keyring
SSH_AUTH_SOCK=/run/user/1000/keyring/ssh
SYSTEMD_EXEC_PID=3609
TERM=xterm-256color
TIMEFMT='%J  %U user %S system %P cpu %*E total'
TMPPREFIX=/tmp/zsh
TRY_BLOCK_ERROR=-1
TRY_BLOCK_INTERRUPT=-1
TTY=/dev/pts/2
TTYIDLE=1
UID=1000
USER=apu
USERNAME=apu
VENDOR=ubuntu
VTE_VERSION=6800
WATCH=''
WATCHFMT='%n has %a %l from %m.'
WINDOWPATH=2
WORDCHARS=''
XAUTHORITY=/run/user/1000/gdm/Xauthority
XDG_CONFIG_DIRS=/etc/xdg/xdg-ubuntu:/etc/xdg
XDG_CURRENT_DESKTOP=ubuntu:GNOME
XDG_DATA_DIRS=/usr/share/ubuntu:/usr/share/gnome:/usr/local/share/:/usr/share/:/var/lib/snapd/desktop
XDG_MENU_PREFIX=gnome-
XDG_RUNTIME_DIR=/run/user/1000
XDG_SESSION_CLASS=user
XDG_SESSION_DESKTOP=ubuntu
XDG_SESSION_TYPE=x11
XMODIFIERS='@im=ibus'
ZLE_LINE_ABORTED=''
ZLS_COLORS='rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41
:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.l
ha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=01;31:*.zip=01;31:*.z=01;31:*.
dz=01;31:*.gz=01;31:*.lrz=01;31:*.lz=01;31:*.lzo=01;31:*.xz=01;31:*.zst=01;31:*.tzst=01;31:*.bz2=01;31:*.bz=01;31:*.tb
z=01;31:*.tbz2=01;31:*.tz=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.war=01;31:*.ear=01;31:*.sar=01;31:*.rar=01;31:*.
alz=01;31:*.ace=01;31:*.zoo=01;31:*.cpio=01;31:*.7z=01;31:*.rz=01;31:*.cab=01;31:*.wim=01;31:*.swm=01;31:*.dwm=01;31:*
.esd=01;31:*.jpg=01;35:*.jpeg=01;35:*.mjpg=01;35:*.mjpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=0
1;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.svg=01;35:*.svgz=01;35:*.mng=01;35:*.p
cx=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.m2v=01;35:*.mkv=01;35:*.webm=01;35:*.webp=01;35:*.ogm=01;35:*.mp4=01;3
5:*.m4v=01;35:*.mp4v=01;35:*.vob=01;35:*.qt=01;35:*.nuv=01;35:*.wmv=01;35:*.asf=01;35:*.rm=01;35:*.rmvb=01;35:*.flc=01
;35:*.avi=01;35:*.fli=01;35:*.flv=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.yuv=01;35:*.cgm=01;35:*.emf=01
;35:*.ogv=01;35:*.ogx=01;35:*.aac=00;36:*.au=00;36:*.flac=00;36:*.m4a=00;36:*.mid=00;36:*.midi=00;36:*.mka=00;36:*.mp3
=00;36:*.mpc=00;36:*.ogg=00;36:*.ra=00;36:*.wav=00;36:*.oga=00;36:*.opus=00;36:*.spx=00;36:*.xspf=00;36::(-default-)rs
=0:(-default-)di=01;34:(-default-)ln=01;36:(-default-)mh=00:(-default-)pi=40;33:(-default-)so=01;35:(-default-)do=01;3
5:(-default-)bd=40;33;01:(-default-)cd=40;33;01:(-default-)or=40;31;01:(-default-)mi=00:(-default-)su=37;41:(-default-
)sg=30;43:(-default-)ca=30;41:(-default-)tw=30;42:(-default-)ow=34;42:(-default-)st=37;44:(-default-)ex=01;32:(-defaul
t-)*.tar=01;31:(-default-)*.tgz=01;31:(-default-)*.arc=01;31:(-default-)*.arj=01;31:(-default-)*.taz=01;31:(-default-)
*.lha=01;31:(-default-)*.lz4=01;31:(-default-)*.lzh=01;31:(-default-)*.lzma=01;31:(-default-)*.tlz=01;31:(-default-)*.
txz=01;31:(-default-)*.tzo=01;31:(-default-)*.t7z=01;31:(-default-)*.zip=01;31:(-default-)*.z=01;31:(-default-)*.dz=01
;31:(-default-)*.gz=01;31:(-default-)*.lrz=01;31:(-default-)*.lz=01;31:(-default-)*.lzo=01;31:(-default-)*.xz=01;31:(-
default-)*.zst=01;31:(-default-)*.tzst=01;31:(-default-)*.bz2=01;31:(-default-)*.bz=01;31:(-default-)*.tbz=01;31:(-def
ault-)*.tbz2=01;31:(-default-)*.tz=01;31:(-default-)*.deb=01;31:(-default-)*.rpm=01;31:(-default-)*.jar=01;31:(-defaul
t-)*.war=01;31:(-default-)*.ear=01;31:(-default-)*.sar=01;31:(-default-)*.rar=01;31:(-default-)*.alz=01;31:(-default-)
*.ace=01;31:(-default-)*.zoo=01;31:(-default-)*.cpio=01;31:(-default-)*.7z=01;31:(-default-)*.rz=01;31:(-default-)*.ca
b=01;31:(-default-)*.wim=01;31:(-default-)*.swm=01;31:(-default-)*.dwm=01;31:(-default-)*.esd=01;31:(-default-)*.jpg=0
1;35:(-default-)*.jpeg=01;35:(-default-)*.mjpg=01;35:(-default-)*.mjpeg=01;35:(-default-)*.gif=01;35:(-default-)*.bmp=
01;35:(-default-)*.pbm=01;35:(-default-)*.pgm=01;35:(-default-)*.ppm=01;35:(-default-)*.tga=01;35:(-default-)*.xbm=01;
35:(-default-)*.xpm=01;35:(-default-)*.tif=01;35:(-default-)*.tiff=01;35:(-default-)*.png=01;35:(-default-)*.svg=01;35
:(-default-)*.svgz=01;35:(-default-)*.mng=01;35:(-default-)*.pcx=01;35:(-default-)*.mov=01;35:(-default-)*.mpg=01;35:(
-default-)*.mpeg=01;35:(-default-)*.m2v=01;35:(-default-)*.mkv=01;35:(-default-)*.webm=01;35:(-default-)*.webp=01;35:(
-default-)*.ogm=01;35:(-default-)*.mp4=01;35:(-default-)*.m4v=01;35:(-default-)*.mp4v=01;35:(-default-)*.vob=01;35:(-d
efault-)*.qt=01;35:(-default-)*.nuv=01;35:(-default-)*.wmv=01;35:(-default-)*.asf=01;35:(-default-)*.rm=01;35:(-defaul
t-)*.rmvb=01;35:(-default-)*.flc=01;35:(-default-)*.avi=01;35:(-default-)*.fli=01;35:(-default-)*.flv=01;35:(-default-
)*.gl=01;35:(-default-)*.dl=01;35:(-default-)*.xcf=01;35:(-default-)*.xwd=01;35:(-default-)*.yuv=01;35:(-default-)*.cg
m=01;35:(-default-)*.emf=01;35:(-default-)*.ogv=01;35:(-default-)*.ogx=01;35:(-default-)*.aac=00;36:(-default-)*.au=00
;36:(-default-)*.flac=00;36:(-default-)*.m4a=00;36:(-default-)*.mid=00;36:(-default-)*.midi=00;36:(-default-)*.mka=00;
36:(-default-)*.mp3=00;36:(-default-)*.mpc=00;36:(-default-)*.ogg=00;36:(-default-)*.ra=00;36:(-default-)*.wav=00;36:(
-default-)*.oga=00;36:(-default-)*.opus=00;36:(-default-)*.spx=00;36:(-default-)*.xspf=00;36'
ZSH=/home/apu/.oh-my-zsh
ZSH_ARGZERO=/usr/bin/zsh
ZSH_AUTOSUGGEST_ACCEPT_WIDGETS=( forward-char end-of-line vi-forward-char vi-end-of-line vi-add-eol )
ZSH_AUTOSUGGEST_CLEAR_WIDGETS=( history-search-forward history-search-backward history-beginning-search-forward histor
y-beginning-search-backward history-substring-search-up history-substring-search-down up-line-or-beginning-search down
-line-or-beginning-search up-line-or-history down-line-or-history accept-line copy-earlier-word )
ZSH_AUTOSUGGEST_COMPLETIONS_PTY_NAME=zsh_autosuggest_completion_pty
ZSH_AUTOSUGGEST_EXECUTE_WIDGETS=(  )
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=8'
ZSH_AUTOSUGGEST_IGNORE_WIDGETS=( 'orig-*' beep run-help set-local-history which-command yank yank-pop 'zle-*' )
ZSH_AUTOSUGGEST_ORIGINAL_WIDGET_PREFIX=autosuggest-orig-
ZSH_AUTOSUGGEST_PARTIAL_ACCEPT_WIDGETS=( forward-word emacs-forward-word vi-forward-word vi-forward-word-end vi-forwar
d-blank-word vi-forward-blank-word-end vi-find-next-char vi-find-next-char-skip )
ZSH_AUTOSUGGEST_STRATEGY=( history )
ZSH_AUTOSUGGEST_USE_ASYNC=''
ZSH_CACHE_DIR=/home/apu/.oh-my-zsh/cache
ZSH_COMPDUMP=/home/apu/.zcompdump-apu4-laptop-5.8.1
ZSH_CUSTOM=/home/apu/.oh-my-zsh/custom
ZSH_EVAL_CONTEXT=toplevel
ZSH_HIGHLIGHT_DIRS_BLACKLIST=(  )
ZSH_HIGHLIGHT_HIGHLIGHTERS=( main )
ZSH_HIGHLIGHT_PATTERNS=( )
ZSH_HIGHLIGHT_REGEXP=( )
ZSH_HIGHLIGHT_REVISION=HEAD
ZSH_HIGHLIGHT_STYLES=( [arg0]='fg=green' [assign]=none [autodirectory]='fg=green,underline' [back-dollar-quoted-argume
nt]='fg=cyan' [back-double-quoted-argument]='fg=cyan' [back-quoted-argument]=none [back-quoted-argument-delimiter]='fg
=magenta' [bracket-error]='fg=red,bold' [bracket-level-1]='fg=blue,bold' [bracket-level-2]='fg=green,bold' [bracket-le
vel-3]='fg=magenta,bold' [bracket-level-4]='fg=yellow,bold' [bracket-level-5]='fg=cyan,bold' [command-substitution]=no
ne [command-substitution-delimiter]='fg=magenta' [commandseparator]=none [comment]='fg=black,bold' [cursor]=standout [
cursor-matchingbracket]=standout [default]=none [dollar-double-quoted-argument]='fg=cyan' [dollar-quoted-argument]='fg
=yellow' [double-hyphen-option]=none [double-quoted-argument]='fg=yellow' [global-alias]='fg=cyan' [globbing]='fg=blue
' [history-expansion]='fg=blue' [line]='' [named-fd]=none [numeric-fd]=none [path]=underline [path_pathseparator]='' [
path_prefix_pathseparator]='' [precommand]='fg=green,underline' [process-substitution]=none [process-substitution-deli
miter]='fg=magenta' [rc-quote]='fg=cyan' [redirection]='fg=yellow' [reserved-word]='fg=yellow' [root]=standout [single
-hyphen-option]=none [single-quoted-argument]='fg=yellow' [suffix-alias]='fg=green,underline' [unknown-token]='fg=red,
bold' )
ZSH_HIGHLIGHT_VERSION=0.8.0-alpha2-dev
ZSH_NAME=zsh
ZSH_PATCHLEVEL=ubuntu/5.8.1-1
ZSH_SUBSHELL=0
ZSH_THEME=agnoster
ZSH_THEME_GIT_PROMPT_CLEAN=''
ZSH_THEME_GIT_PROMPT_DIRTY='*'
ZSH_THEME_GIT_PROMPT_PREFIX='git:('
ZSH_THEME_GIT_PROMPT_SUFFIX=')'
ZSH_THEME_RUBY_PROMPT_PREFIX='('
ZSH_THEME_RUBY_PROMPT_SUFFIX=')'
ZSH_THEME_RVM_PROMPT_OPTIONS='i v g'
ZSH_THEME_TERM_TAB_TITLE_IDLE='%15<..<%~%<<'
ZSH_THEME_TERM_TITLE_IDLE='%n@%m:%~'
ZSH_VERSION=5.8.1
_=set
_ZSH_AUTOSUGGEST_ASYNC_FD=13
_ZSH_AUTOSUGGEST_BIND_COUNTS=( [accept-and-hold]=1 [accept-and-infer-next-history]=1 [accept-and-menu-complete]=1 [acc
ept-line]=1 [accept-line-and-down-history]=1 [accept-search]=1 [argument-base]=1 [auto-suffix-remove]=1 [auto-suffix-r
etain]=1 [autosuggest-capture-completion]=1 [backward-char]=1 [backward-delete-char]=1 [backward-delete-word]=1 [backw
ard-kill-line]=1 [backward-kill-word]=1 [backward-word]=1 [beginning-of-buffer-or-history]=1 [beginning-of-history]=1
[beginning-of-line]=1 [beginning-of-line-hist]=1 [bracketed-paste]=1 [capitalize-word]=1 [clear-screen]=1 [complete-wo
rd]=1 [copy-prev-shell-word]=1 [copy-prev-word]=1 [copy-region-as-kill]=1 [deactivate-region]=1 [delete-char]=1 [delet
e-char-or-list]=1 [delete-word]=1 [describe-key-briefly]=1 [digit-argument]=1 [down-case-word]=1 [down-history]=1 [dow
n-line]=1 [down-line-or-beginning-search]=1 [down-line-or-history]=1 [down-line-or-search]=1 [edit-command-line]=1 [em
acs-backward-word]=1 [emacs-forward-word]=1 [end-of-buffer-or-history]=1 [end-of-history]=1 [end-of-line]=1 [end-of-li
ne-hist]=1 [end-of-list]=1 [exchange-point-and-mark]=1 [execute-last-named-cmd]=1 [execute-named-cmd]=1 [expand-cmd-pa
th]=1 [expand-history]=1 [expand-or-complete]=1 [expand-or-complete-prefix]=1 [expand-word]=1 [forward-char]=1 [forwar
d-word]=1 [get-line]=1 [gosmacs-transpose-chars]=1 [history-beginning-search-backward]=1 [history-beginning-search-for
ward]=1 [history-incremental-pattern-search-backward]=1 [history-incremental-pattern-search-forward]=1 [history-increm
ental-search-backward]=1 [history-incremental-search-forward]=1 [history-search-backward]=1 [history-search-forward]=1
 [infer-next-history]=1 [insert-last-word]=1 [kill-buffer]=1 [kill-line]=1 [kill-region]=1 [kill-whole-line]=1 [kill-w
ord]=1 [list-choices]=1 [list-expand]=1 [magic-space]=1 [menu-complete]=1 [menu-expand-or-complete]=1 [menu-select]=1
[neg-argument]=1 [overwrite-mode]=1 [pound-insert]=1 [push-input]=1 [push-line]=1 [push-line-or-edit]=1 [put-replace-s
election]=1 [quote-line]=1 [quote-region]=1 [quoted-insert]=1 [read-command]=1 [recursive-edit]=1 [redisplay]=1 [redo]
=1 [reset-prompt]=1 [reverse-menu-complete]=1 [select-a-blank-word]=1 [select-a-shell-word]=1 [select-a-word]=1 [selec
t-in-blank-word]=1 [select-in-shell-word]=1 [select-in-word]=1 [self-insert]=1 [self-insert-unmeta]=1 [send-break]=1 [
set-mark-command]=1 [spell-word]=1 [split-undo]=1 [transpose-chars]=1 [transpose-words]=1 [undefined-key]=1 [undo]=1 [
universal-argument]=1 [up-case-word]=1 [up-history]=1 [up-line]=1 [up-line-or-beginning-search]=1 [up-line-or-history]
=1 [up-line-or-search]=1 [vi-add-eol]=1 [vi-add-next]=1 [vi-backward-blank-word]=1 [vi-backward-blank-word-end]=1 [vi-
backward-char]=1 [vi-backward-delete-char]=1 [vi-backward-kill-word]=1 [vi-backward-word]=1 [vi-backward-word-end]=1 [
vi-beginning-of-line]=1 [vi-caps-lock-panic]=1 [vi-change]=1 [vi-change-eol]=1 [vi-change-whole-line]=1 [vi-cmd-mode]=
1 [vi-delete]=1 [vi-delete-char]=1 [vi-digit-or-beginning-of-line]=1 [vi-down-case]=1 [vi-down-line-or-history]=1 [vi-
end-of-line]=1 [vi-fetch-history]=1 [vi-find-next-char]=1 [vi-find-next-char-skip]=1 [vi-find-prev-char]=1 [vi-find-pr
ev-char-skip]=1 [vi-first-non-blank]=1 [vi-forward-blank-word]=1 [vi-forward-blank-word-end]=1 [vi-forward-char]=1 [vi
-forward-word]=1 [vi-forward-word-end]=1 [vi-goto-column]=1 [vi-goto-mark]=1 [vi-goto-mark-line]=1 [vi-history-search-
backward]=1 [vi-history-search-forward]=1 [vi-indent]=1 [vi-insert]=1 [vi-insert-bol]=1 [vi-join]=1 [vi-kill-eol]=1 [v
i-kill-line]=1 [vi-match-bracket]=1 [vi-open-line-above]=1 [vi-open-line-below]=1 [vi-oper-swap-case]=1 [vi-pound-inse
rt]=1 [vi-put-after]=1 [vi-put-before]=1 [vi-quoted-insert]=1 [vi-repeat-change]=1 [vi-repeat-find]=1 [vi-repeat-searc
h]=1 [vi-replace]=1 [vi-replace-chars]=1 [vi-rev-repeat-find]=1 [vi-rev-repeat-search]=1 [vi-set-buffer]=1 [vi-set-mar
k]=1 [vi-substitute]=1 [vi-swap-case]=1 [vi-undo-change]=1 [vi-unindent]=1 [vi-up-case]=1 [vi-up-line-or-history]=1 [v
i-yank]=1 [vi-yank-eol]=1 [vi-yank-whole-line]=1 [visual-line-mode]=1 [visual-mode]=1 [what-cursor-position]=1 [where-
is]=1 )
_ZSH_AUTOSUGGEST_BUILTIN_ACTIONS=( clear fetch suggest accept execute enable disable toggle )
_ZSH_AUTOSUGGEST_CHILD_PID=76051
_ZSH_HIGHLIGHT_PRIOR_BUFFER=''
_ZSH_HIGHLIGHT_PRIOR_CURSOR=0
__savecursor=0
__searching=down-line-or-beginning-search
_cmd_variant=( [ls]=gnu [mv]=gnu [rm]=gnu )
_comp_assocs=( '' )
_comp_dumpfile=/home/apu/.zcompdump-apu4-laptop-5.8.1
_comp_options
_comp_setup
_compautos
_comps
_lastcomp
_patcomps
_postpatcomps
_services
_zsh_highlight__highlighter_main_cache=( '0 3 fg=green' )
_zsh_highlight_main__command_type_cache=( [d]=function [s]=none [se]=none [set]=builtin )
aliases
argv=(  )
bg
bg_bold
bg_no_bold
bold_color
builtins
cdpath=(  )
color=( [00]=none [01]=bold [02]=faint [03]=standout [04]=underline [05]=blink [07]=reverse [08]=conceal [22]=normal [
23]=no-standout [24]=no-underline [25]=no-blink [27]=no-reverse [28]=no-conceal [30]=black [31]=red [32]=green [33]=ye
llow [34]=blue [35]=magenta [36]=cyan [37]=white [39]=default [40]=bg-black [41]=bg-red [42]=bg-green [43]=bg-yellow [
44]=bg-blue [45]=bg-magenta [46]=bg-cyan [47]=bg-white [49]=bg-default [bg-black]=40 [bg-blue]=44 [bg-cyan]=46 [bg-def
ault]=49 [bg-green]=42 [bg-grey]=40 [bg-magenta]=45 [bg-red]=41 [bg-white]=47 [bg-yellow]=43 [black]=30 [blink]=05 [bl
ue]=34 [bold]=01 [conceal]=08 [cyan]=36 [default]=39 [faint]=02 [fg-black]=30 [fg-blue]=34 [fg-cyan]=36 [fg-default]=3
9 [fg-green]=32 [fg-grey]=30 [fg-magenta]=35 [fg-red]=31 [fg-white]=37 [fg-yellow]=33 [green]=32 [grey]=30 [magenta]=3
5 [no-blink]=25 [no-conceal]=28 [no-reverse]=27 [no-standout]=23 [no-underline]=24 [none]=00 [normal]=22 [red]=31 [rev
erse]=07 [standout]=03 [underline]=04 [white]=37 [yellow]=33 )
colour=( [00]=none [01]=bold [02]=faint [03]=standout [04]=underline [05]=blink [07]=reverse [08]=conceal [22]=normal
[23]=no-standout [24]=no-underline [25]=no-blink [27]=no-reverse [28]=no-conceal [30]=black [31]=red [32]=green [33]=y
ellow [34]=blue [35]=magenta [36]=cyan [37]=white [39]=default [40]=bg-black [41]=bg-red [42]=bg-green [43]=bg-yellow
[44]=bg-blue [45]=bg-magenta [46]=bg-cyan [47]=bg-white [49]=bg-default [bg-black]=40 [bg-blue]=44 [bg-cyan]=46 [bg-de
fault]=49 [bg-green]=42 [bg-grey]=40 [bg-magenta]=45 [bg-red]=41 [bg-white]=47 [bg-yellow]=43 [black]=30 [blink]=05 [b
lue]=34 [bold]=01 [conceal]=08 [cyan]=36 [default]=39 [faint]=02 [fg-black]=30 [fg-blue]=34 [fg-cyan]=36 [fg-default]=
39 [fg-green]=32 [fg-grey]=30 [fg-magenta]=35 [fg-red]=31 [fg-white]=37 [fg-yellow]=33 [green]=32 [grey]=30 [magenta]=
35 [no-blink]=25 [no-conceal]=28 [no-reverse]=27 [no-standout]=23 [no-underline]=24 [none]=00 [normal]=22 [red]=31 [re
verse]=07 [standout]=03 [underline]=04 [white]=37 [yellow]=33 )
commands
comppostfuncs=(  )
compprefuncs=(  )
d=/usr/share/zsh/functions/Zle
debian_missing_features=(  )
dirstack
dis_aliases
dis_builtins
dis_functions
dis_functions_source
dis_galiases
dis_patchars
dis_reswords
dis_saliases
epochtime
errnos
fg
fg_bold
fg_no_bold
fignore=(  )
fpath=( /home/apu/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting /home/apu/.oh-my-zsh/custom/plugins/zsh-autosugges
tions /home/apu/.oh-my-zsh/plugins/git /home/apu/.oh-my-zsh/plugins/docker /home/apu/.oh-my-zsh/functions /home/apu/.o
h-my-zsh/completions /home/apu/.oh-my-zsh/cache/completions /usr/local/share/zsh/site-functions /usr/share/zsh/vendor-
functions /usr/share/zsh/vendor-completions /usr/share/zsh/functions/Calendar /usr/share/zsh/functions/Chpwd /usr/shar
e/zsh/functions/Completion /usr/share/zsh/functions/Completion/AIX /usr/share/zsh/functions/Completion/BSD /usr/share/
zsh/functions/Completion/Base /usr/share/zsh/functions/Completion/Cygwin /usr/share/zsh/functions/Completion/Darwin /u
sr/share/zsh/functions/Completion/Debian /usr/share/zsh/functions/Completion/Linux /usr/share/zsh/functions/Completion
/Mandriva /usr/share/zsh/functions/Completion/Redhat /usr/share/zsh/functions/Completion/Solaris /usr/share/zsh/functi
ons/Completion/Unix /usr/share/zsh/functions/Completion/X /usr/share/zsh/functions/Completion/Zsh /usr/share/zsh/funct
ions/Completion/openSUSE /usr/share/zsh/functions/Exceptions /usr/share/zsh/functions/MIME /usr/share/zsh/functions/Ma
th /usr/share/zsh/functions/Misc /usr/share/zsh/functions/Newuser /usr/share/zsh/functions/Prompts /usr/share/zsh/func
tions/TCP /usr/share/zsh/functions/VCS_Info /usr/share/zsh/functions/VCS_Info/Backends /usr/share/zsh/functions/Zftp /
usr/share/zsh/functions/Zle /home/apu/.oh-my-zsh/custom/plugins/zsh-completions/src )
funcfiletrace
funcsourcetrace
funcstack
functions
functions_source
functrace
galiases
histchars='!^#'
history
historywords
 apu@apu4-laptop  wordy 
 apu@apu4-laptop  wordy  go build && ./wordy
# wordy/dictionary
dictionary/dictionary.go:11:9: cannot use p (variable of type *properties.Properties) as type Dictionary in return sta
tement
 ✘ apu@apu4-laptop  wordy  go build && ./wordy
# wordy
./main.go:6:2: not enough arguments in call to dictionary.Get
        have ()
        want (string)
 ✘ apu@apu4-laptop  wordy  go build && ./wordy
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x61c07a]

goroutine 1 [running]:
github.com/magiconair/properties.(*Properties).Map(...)
        /home/apu/go/pkg/mod/github.com/magiconair/properties@v1.8.6/properties.go:665
wordy/dictionary.Get({0x634940?, 0xc0000021a0?})
        /home/apu/Documents/wordy/dictionary/dictionary.go:11 +0x5a
main.main()
        /home/apu/Documents/wordy/main.go:6 +0x25
 ✘ apu@apu4-laptop  wordy  zdfdf
zsh: command not found: zdfdf
 ✘ apu@apu4-laptop  wordy  go build && ./wordy
# wordy/dictionary
dictionary/dictionary.go:10:5: err declared but not used
 ✘ apu@apu4-laptop  wordy  go build && ./wordy
 apu@apu4-laptop  wordy  go build && ./wordy
# wordy
 apu@apu4-laptop  wordy  ls
dictionary  dictionary.txt  go.mod  go.sum  main.go  wordy
 apu@apu4-laptop  wordy  mkdir learning
 apu@apu4-laptop  wordy  sudo veracrypt -m=nokernelcrypto -t -k "" --pim=0 --protect-hidden=no ~/volume/Volume /mnt/volume
[sudo] password for apu:
Enter password for /home/apu/volume/Volume:
 apu@apu4-laptop  wordy  go build && ./wordy
black  :=  negro  [ 0 ]
brown  :=  marrón  [ 0 ]
pink  :=  rosado  [ 0 ]
orange  :=  anaranjado  [ 0 ]
blue  :=  azul  [ 0 ]
green  :=  verde  [ 0 ]
purple  :=  morado  [ 0 ]
red  :=  rojo  [ 0 ]
yellow  :=  amarillo  [ 0 ]
 apu@apu4-laptop  wordy  ls
dictionary  dictionary.txt  go.mod  go.sum  learning  main.go  wordy
 apu@apu4-laptop  wordy  mv learning statistics
 apu@apu4-laptop  wordy  cd statistics
 apu@apu4-laptop  statistics  ls
learning.go
 apu@apu4-laptop  statistics  mv learning.go statistics.go
 apu@apu4-laptop  statistics  mv learning.go statistics.go
mv: cannot stat 'learning.go': No such file or directory
 ✘ apu@apu4-laptop  statistics  cd ..
 apu@apu4-laptop  wordy  go build && ./wordy
brown  :=  marrón  [ 0 ]
green  :=  verde  [ 0 ]
red  :=  rojo  [ 0 ]
blue  :=  azul  [ 0 ]
pink  :=  rosado  [ 0 ]
purple  :=  morado  [ 0 ]
orange  :=  anaranjado  [ 0 ]
black  :=  negro  [ 0 ]
yellow  :=  amarillo  [ 0 ]
 apu@apu4-laptop  wordy  mkdir learning
 apu@apu4-laptop  wordy  go build && ./wordy
orange  :=  anaranjado  [ 0 ]
yellow  :=  amarillo  [ 0 ]
pink  :=  rosado  [ 0 ]
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/green  :=  verde  [ 0 ]
